:root {
  --primary: rgb(25, 118, 210);
  --primary-hover: rgb(17, 82, 147);
  --primary-text: rgb(255, 255, 255);
  --text-color: rgb(25, 118, 210);
  --outline-color: rgba(25, 118, 210, 0.5);

  --disabled-bg: rgba(0, 0, 0, 0.12);
  --disabled-text: rgba(0, 0, 0, 0.26);

  --error: rgb(211, 47, 47);

  --success: rgb(76, 175, 80);
  --success-hover: rgb(67, 160, 71);

  --label-bg: rgb(255, 255, 255);
}
