.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: var(--primary);
  padding: 10px 1rem;

  .logo {
    cursor: pointer;
    color: var(--primary-text);
    span {
      font-weight: bold;
      font-size: 1.5rem;
      color: var(----primary-text);
      margin-right: 4px;
    }
  }
  .controls {
    display: flex;
    align-items: center;
    gap: 1rem;

    .langSwitch {
      display: flex;
      gap: 0.3rem;

      button {
        padding: 0.4rem 0;
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 0.625rem;

        &:hover {
          background: var(--primary-hover);
        }
      }
    }
  }
}
